venv/
heatmap/.ipynb_checkpoints
heatmap/__pycache__/
app/ips/__pycache__/
app/locations/__pycache__/
app/pages/__pycache__/
app/person/__pycache__/
api/getAllPositions/__pycache__/
api/addNewPositions/__pycache__/
