venv/
heatmap/.ipynb_checkpoints
heatmap/__pycache__/
app/ips/__pycache__/
app/locations/__pycache__/
app/pages/__pycache__/
app/person/__pycache__/
api/card/addCard/__pycache__/
api/card/getCard/__pycache__/
api/card/deleteCard/__pycache__/
api/card/updateCard/__pycache__/
api/person/addPerson/__pycache__/
api/person/getPerson/__pycache__/
api/person/deletePerson/__pycache__/
api/person/updatePerson/__pycache__/
api/position/addPositions/__pycache_/
api/position/updatePositions/__pycache_/
api/position/heatmap/getLocationsWithinInterval/__pycache_/
api/position/live/getLiveLocations/__pycache_/
api/position/person-trace/getLocationsofPerson/__pycache_/
